### Import Dependencies
- I used pyforest, a module that imports all general use libraries for EDA, visualization, and machine learning
- Pyforest will also use the common case abbreviations such pd for pandas, plt for matplotlib etc...

In [2]:
import pyforest

### Import, reformat, and clean data

- The datasets were retrieved from kaggle. https://www.kaggle.com/the-guardian/olympic-games
- The summers CSV only had the country code so i had to merge the summers.csv file  with the dictionary.csv so that the   
  actual country name is shown. I did this because many people(including myself) may not be familiar with only the country codes.

In [5]:
# Read in the csv files
dictionary = pd.read_csv('Data/dictionary.csv')
summer = pd.read_csv('Data/summer.csv')

When I merged the files i noticed that we lost a couple thousand rowsof data

In [64]:
# merge the dataframes 
merged_df = pd.merge(dictionary, summer, left_on = 'Code', right_on = 'Country')

# check to see if any data was lost after the merge with inner join
print(f'We lost {len(summer) - len(merged_df)} rows when we merged')

# merge the dataframes using a right join so that all the data from the summers table is included and not lost 
merged_df = pd.merge(dictionary, summer, left_on = 'Code', right_on = 'Country', how = 'right')

# drop the Code column as it has many nulls and we are already using the code column from the summers table
merged_df.drop(columns = 'Code', inplace = True)

#rename the columns for country_x and country_y
merged_df.rename(columns = {'Country_x': 'Country', 'Country_y': 'Code'}, inplace = True)


# check to see where i have nulls
nulls_df = merged_df[merged_df.isna().any(axis = 1)]

We lost 5423 rows when we merged

In [65]:
merged_df

,Country,Population,GDP per Capita,Year,City,Sport,Discipline,Athlete,Code,Gender,Event,Medal
0,Afghanistan,32526562.0,594.323081,2008,Beijing,Taekwondo,Taekwondo,"NIKPAI, Rohullah",AFG,Men,- 58 KG,Bronze
1,Afghanistan,32526562.0,594.323081,2012,London,Taekwondo,Taekwondo,"NIKPAI, Rohullah",AFG,Men,58 - 68 KG,Bronze
2,Algeria,39666519.0,4206.031232,1984,Los Angeles,Boxing,Boxing,"ZAOUI, Mohamed",ALG,Men,71-75KG,Bronze
3,Algeria,39666519.0,4206.031232,1984,Los Angeles,Boxing,Boxing,"MOUSSA, Mustapha",ALG,Men,75 - 81KG (Light-Heavyweight),Bronze
4,Algeria,39666519.0,4206.031232,1992,Barcelona,Athletics,Athletics,"BOULMERKA, Hassiba",ALG,Women,1500M,Gold
...,...,...,...,...,...,...,...,...,...,...,...,...
31160,NaN,NaN,NaN,2012,London,Handball,Handball,"VUKCEVIC, Marina",MNE,Women,Handball,Silver
31161,NaN,NaN,NaN,2012,London,Table Tennis,Table Tennis,"FENG, Tian Wei",SGP,Women,Singles,Bronze
31162,NaN,NaN,NaN,2012,London,Table Tennis,Table Tennis,"FENG, Tian Wei",SGP,Women,Team,Bronze
31163,NaN,NaN,NaN,2012,London,Table Tennis,Table Tennis,"LI, Jia Wei",SGP,Women,Team,Bronze
31164,NaN,NaN,NaN,2012,London,Table Tennis,Table Tennis,"WANG, Yuegu",SGP,Women,Team,Bronze

In [10]:
dictionary.columns

Index(['Country', 'Code', 'Population', 'GDP per Capita'], dtype='object')

NameError: name 'hello' is not defined

31165

KeyError: "None of [Index(['Bermuda*', 'Cuba', 'Cuba', 'Cuba', 'Cuba', 'Cuba', 'Cuba', 'Cuba',\n       'Cuba', 'Cuba',\n       ...\n       'Venezuela', 'Venezuela', 'Venezuela', 'Venezuela', 'Venezuela',\n       'Venezuela', 'Venezuela', 'Venezuela', 'Venezuela', 'Virgin Islands*'],\n      dtype='object', length=600)] are in the [columns]"